<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="luv-server">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d %p [%c] [%l] - %m%n"/>
        </Console>
        <RollingFile name="DailyRollingFile" fileName="${sys:user.home}/logs/luv.log"
                     filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/luv-%d{yyyy-MM-dd}-%i.log.gz">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d %p [%c] [%l] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
        <logger name="io.netty" level="WARN"/>
        <logger name="io.vertx" level="INFO"/>
    </Loggers>
</Configuration>