<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true" name="auth-feature">
  <Appenders>
    <Appender type="Console" name="console">
      <Layout type="PatternLayout" pattern="%highlight{%d %p [%l] - %m%n%throwable}"/>
      <Filters>
        <Filter type="ThresholdFilter" level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
    </Appender>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="console"/>
    </Root>
    <Logger name="com.hiwangzi.luv" level="DEBUG"/>
  </Loggers>

</Configuration>
